<!doctype html>
<html data-ng-app="app">

<head>
    <link rel="stylesheet" href="/include/css/normalize.css">
    <link rel="stylesheet" href="/include/css/angular-material.min.css">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="/include/css/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/include/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.css">-->
    <!--<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/dropdown.min.css">-->
    <!--<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/search.min.css">-->
    <!--<link rel="stylesheet" href="//oss.maxcdn.com/semantic-ui/2.1.4/components/transition.min.css">-->
    <link rel="stylesheet" href="/include/css/bootstrap.min.css">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="stylesheets/styles.css">

    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">
        // window._trackJs = {
        //     token: '36ebca691f594360bfa9d469b399d013'
        // };
    </script>
    <!--<script type="text/javascript" src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>-->
    <!-- END TRACKJS -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>

    <title>Explaain</title>
</head>

<body ng-controller="MainCtrl">

    <h1 class="logo">Explaain</h1>
    <div ng-user-interface>    
        <!-- Initial login modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="bootUp(false)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Welcome to Explaain!</h4>
              </div>
              <div class="modal-body">
                <p>Sign in to your team, or proceed to the public version of Explaain&hellip;</p>
              </div>
              <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="bootUpServices(true)">Sign into your team</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="bootUpServices(false)">Continue to public version</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <!-- Create team modal -->
        <div class="modal fade" id="createTeamModal" tabindex="-1" role="dialog" aria-labelledby="createTeamModalLabel" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="bootUp(false)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Set up a new team</h4>
              </div>
              <div class="modal-body">
                <p>Looks like this is your first time on Explaain - create yourself a team below:</p>
                <div class="form-group">
                    <label for="team-name" class="control-label">Team name:</label>
                    <input type="text" class="form-control" id="team-name" ng-model="teamTitle">
                </div>
              </div>
              <div class="modal-footer" style="text-align: center;">
                <!--<a href="mailto:jeremy@explaain.com" target="_blank"></a><button type="button" class="btn btn-primary" data-dismiss="modal">Request access to an existing team</button></a>-->
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="bootUpNewTeam(teamTitle)">Create team</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <i class="material-icons action-icon toggle-login login-{{loggedIn}}" ng-hide="loggedIn()" ng-click="toggleLogin()">account_circle</i>
        <img class="login-image" ng-src="{{loginData().twitter.profileImageURL}}" ng-show="loggedIn()">
        <!--<i class="material-icons action-icon edit-mode edit-mode-{{getEditMode()}}" ng-if="!usingTeams()" ng-show="allowingEditMode()" ng-click="toggleEditMode()">build</i>-->
        <!--<i class="material-icons action-icon refresh-all" ng-show="getEditMode()" ng-click="updateEverything()">autorenew</i>-->
        <!--<i class="material-icons action-icon new-card" ng-show="getEditMode()" ng-click="addNewCard({}, true, true, false, true)">queue</i>-->
        <div class="btn-group new-card">
            <i class="fa fa-plus icon-tooltip action-icon new-card" ng-show="allowCreate()" data-toggle="dropdown" data-placement="left" title="Create new card"></i>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Select a card type:</li>
                <li role="separator" class="divider"></li>
                <li><a href="#" ng-click="addNewCard({}, 'profile', true, false, true)">New Profile Card</a></li>
                <li><a href="#" ng-click="addNewCard({}, 'list', true, false, true)">New List Card</a></li>
                <!--<li><a href="#" ng-click="addNewCard({}, 'quote', false, true)">New Quote Card</a></li>-->
                <li><a href="#" ng-click="addNewCard({}, 'embed', true, false, true)">New Embed Card</a></li>
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">New Map</a></li>-->
            </ul>
        </div>
        <ul class="cards">
            <ng-search source="Algolia" index="cards" action="openCard" format="main"></ng-search>
            <!--<form ng-submit="$event.preventDefault()">-->
            <!--    <md-autocomplete md-no-cache="true" md-min-length="1" md-autoselect="false" md-selected-item="ctrl.selectedItem" md-search-text-change="search(query)" md-search-text="query" md-selected-item-change="openFromCardKey(card.objectID);" md-items="card in hits"-->
            <!--    md-item-text="card.title" md-floating-label="Search for cards..." style="font-size: 26px; font-weight: 300;">-->
            <!--        <md-item-template>-->
            <!--            <div class="header-image">-->
            <!--                <img class="image face" ng-src="{{ card.image.value || 'https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_80x80_v1.png' }}" />-->
            <!--            </div>-->
            <!--            <div class="header-text">-->
            <!--                <span md-highlight-text="query" md-highlight-flags="^i">{{card.title}}</span>-->
            <!--                <h4>{{ card.subtitle }}</h4>-->
            <!--            </div>-->
            <!--        </md-item-template>-->
            <!--        <md-not-found>-->
            <!--            No matches found for "{{query}}".-->
            <!--        </md-not-found>-->
            <!--    </md-autocomplete>-->
            <!--</form>-->
            
            <ng-card ng-repeat="card in cards | filter:showingFilter | orderBy: 'atFront' | limitTo: -6"></ng-card>
            <div id="spinner" class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </ul>
    </div>

    <!-- jQuery Dependencies -->
    <script src="/include/js/jquery-1.11.3.min.js"></script>
    <!-- Bootstraph Dependencies -->
    <script src="/include/js/bootstrap.min.js"></script>
    <!--<script src="./include/bootstrap3-typeahead.min.js"></script>-->
    <script src="/include/js/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <!--<script src="./include/typeahead.bundle.js"></script>-->
    <!-- Angular Dependencies -->
    <script src="/include/js/angular-route.min.js"></script>
    <script src="/include/js/angular-sanitize.min.js"></script>
    <script src="/include/js/angular-resource.min.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="/include/js/angular-animate.min.js"></script>
    <script src="/include/js/angular-aria.min.js"></script>
    <script src="/include/js/angular-material.min.js"></script>
    <!-- Firebase -->
    <script src="/include/js/firebase.js"></script>
    <!-- AngularFire -->
    <script src="/include/js/angularfire.min.js"></script>
    <!-- Angolia -->
    <script src="/include/js/algoliasearch.angular.min.js"></script>
    <script src="/include/js/algoliasearch.helper.min.js"></script>
    <!-- Other plugins -->
    <script src="/include/js/elastic.js"></script>

    <!-- Semantic UI -->
    <!--<script src="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.js"></script>-->
    <!--<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/dropdown.min.js"></script>-->
    <!--<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/search.min.js"></script>-->
    <!--<script src="//oss.maxcdn.com/semantic-ui/2.1.4/components/transition.min.css"></script>-->
    <!-- Custom -->
    <script src="js/branch-specific.js"></script>
    <script src="js/script.js"></script>
</body>

</html>