<!--<div class="btn-group">-->
  <!--<button ng-show="editing" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
  <!--  <i class="fa fa-link"></i>-->
  <!--</button>-->
  <!--<ul class="input-dropdown">-->
        <!--<div class="input-group">-->
          <!--<input ng-model="link" type="text" class="form-control" placeholder="e.g. http://google.com">-->
<form ng-show="editing" class="form-inline">
    <div class="form-group">
        <ng-search source="Algolia" label="Link to card..." action="select" result-key="linkRef"></ng-search>
    </div>
    <div class="form-group">
        <button ng-click="insertLink()" class="btn btn-default" type="submit"><i class="fa fa-link"></i></button>
    </div>
</form>
        <!--</div>-->
<!--    </ul>-->
<!--</div>-->
<div class="text structured-text" contenteditable="false" ng-model="content" ng-hide="editing" ng-init="content=label"></div>
<div class="text structured-text" contenteditable="true" ng-model="content" ng-show="editing" ng-blur="manualBlur($event)"></div>



<!--<div class="form-group" ng-show="editing">-->
<!--    <input type="text" class="form-control" ng-model="text" placeholder="{{label}}">-->
<!--</div>-->